.App {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", cursive;
}
body {
  font-family: helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
}
.Backdrop {
  background: #88c0e8;
  height: 5000px;
  width: 100vw;
  background-image: url(Images/Background_Pieces_1-Back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Hidden {
  display: none;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Test {
  height: 400px;
  overflow: scroll;
}
.Overflow {
  overflow: scroll;
  margin-top: 40px;
  height: 300px;
}

.Itinerary-box {
  top: 200px;
  width: 45%;
  border-radius: 20px;
  border: 1px solid #88c0e8;
}
.Flex-vertical {
  /*display: flex;*/
  flex-direction: column;
}
.Flex-horizontal {
  display: flex;
  flex-direction: row;
}

.Flex-space-around {
  justify-content: space-around;
}
.Itin-category-styling {
  font-size: 15px;
}
.Itin-value-styling {
  font-size: 20px;
}
.Activity-list {
  height: 200px;
  width: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Activity-container {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #88c0e8;
  padding: 5px;
}
.Activity {
  position: relative;
  height: 250px;
}

.Active-Headbar {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}

.Vote-Head {
  margin-right: 60px;
  padding-bottom: 15px;
}

.Act-Head {
  margin-right: 80px;
}

.Desc-Head {
  margin-right: 94px;
}

.Cost-Head {
}

.Category-spacing {
  margin: 0 5px;
  padding: 5px;
}
.Activity-squares {
  text-align: center;
}
.Activity-box {
  display: grid;
  grid-template-columns: 12% 25% 25% 25% 13%;
  border-bottom: 1px solid white;
}
textarea {
  resize: none;
}
.New-activity {
  text-align: center;
  width: 500px;
}
.New-activity-input {
  width: 70%;
  border-radius: 5px;
  border: 1px solid grey;
}
.New-activity-submit {
  margin-top: 10px;
  background: green;
  width: 100%;
  height: 30px;
  color: white;
}
.Activity-holder {
  overflow: scroll;
  height: 200px;
}

.Act-butts {
  color: red;
  border-radius: 65px;
  height: 20px;
}

.Sub-sub-headings {
  text-align: left;
  padding-left: 25px;
}
.Your-itinerary-card {
  height: 200px;
  width: 700px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.Your-itin {
  position: relative;
  height: 250px;
}
.Your-itinerary-card-box {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #88c0e8;
  padding: 5px;
}
.Your-itin-top {
  flex: 5;
}
.Your-itin-inner {
  margin: 0 30px;
}
.Your-itin-outter {
  flex: 2;
}
.Your-itin-heading {
  text-align: left;
  color: grey;
}
.New-itinerary-heading {
  color: grey;
}
.Grid-col-2 {
  grid-column-start: 2;
}
.Grid-col-4 {
  grid-column-start: 4;
}
input {
  padding: 5px;
}
.New-itinerary-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 20px;
}
.New-itin-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
}
.New-dates {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}
.New-activity-submit {
  margin-top: 10px;
  background: green;
  width: 50%;
  height: 30px;
  color: white;
  margin-left: 25%;
  border-radius: 5px;
  border: 0px;
}
.New-itinerary-submit {
  margin-top: 40px;
  background: green;
  width: 30%;
  height: 30px;
  color: white;
  box-shadow: 3px 3px 5px 1px #333;
  border-radius: 5px;
  border: 0px;
}
/**/

/*.navWhole {
  background-color: lightgray;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/

/*drop-down for the NAV bar*/
.Add-activity-button {
  cursor: pointer;
  background: url(Icons/ICONS-4-add.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  margin-left: 50px;
  margin-top: 15px;
}
.dropMenu {
  text-align: center;
  background-color: rgb(153, 103, 153);
  width: 60px;
  border-radius: 5px;
  color: white;
  padding: 15px 5px 0px 5px;
  cursor: pointer;
}

.menuDropItem {
  font-size: 16px;
  width: 130px;
  height: 40px;
  border-bottom: 1px solid white;
}
.profileIMG {
  background-color: yellow;
  height: 80px;
  width: 80px;
  flex-grow: 1;
}

.signout {
  background-color: orange;
  height: 80px;
  width: 120px;
  flex-grow: 1;
}

.itineraryDrop {
  background-color: orange;
  border: 1px solid white;
  width: 13033px;
  margin-left: 50px;
}

.landingContainer {
  display: flex;
}

.login {
  flex-grow: 1;
  margin: 200px;
}

.landingTitle {
  text-align: right;
  flex-grow: 4;
  margin: 200px;
  /*padding-right: 200px;*/
}

/*.profilePic{
  height: 80px;
  width: 80px;
  background-color: red;
  align-content: center;
  margin-left: 45%;
  margin-top: 20px;
}*/

/*----------------------------------------------------------------------*/
/*Leon’s Nav adjustments 2/22*/
/*drop-down for the NAV bar*/

.dropMenu {
  margin: auto 0;
  width: 100px;
  height: 30px;
}

.profilePic {
  margin: auto 0;
  padding: 10px;
  height: 70px;
  width: 70px;
}

.signoutButton {
  margin: auto 0;
  cursor: pointer;
  height: 20px;
  width: auto;
}

.emptyMenuItem {
  height: 80px;
}

.itineraryDropdown {
  z-index: 4;
  position: absolute;
  right: 128px;
  top: 51px;
}

.navEntire {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  justify-content: space-around;
}

.box {
  width: 99%;
  box-shadow: 10px 10px 5px #888888;
  padding: 10px;
  padding-bottom: 20px;
}
a:link {
  text-decoration: none;
  color: #09234c;
}
a:hover {
  border: 0.5 solid grey;
  color: #09234c;
}
a:visited {
  color: #09234c;
}
.Delete-Act {
  cursor: pointer;
  background: url(Icons/ICONS-3-trash-w.png);
  background-size: cover;
  height: 30px;
  width: 30px;
}
.Edit-Act {
  cursor: pointer;
  background: url(Icons/ICONS-1-erase.png);
  background-size: cover;
  height: 30px;
  width: 30px;
}
.Signup {
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translateX(-50%);
  border-radius: 5px;
}
.Signup-submit {
  background: green;
  width: 80%;
  height: 30px;
  color: white;
}
.Signup-title {
  margin-left: -25px;
}
.Navbar-drop {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: 1px solid #88c0e8;
  padding: 5px;
  margin-top: 20px;
  margin-left: 10px;
}
