.App {
  text-align: center;
  background-color: lightblue;
}

.Backdrop {
  background: #88c0e8;
  height: 100vh;
  width: 100vw;
}
.Hidden {
  display: none;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Test {
  height: 400px;
  overflow: scroll;
}
.Overflow {
  overflow: scroll;
  height: 300px;
}
.Centered-True {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Itinerary-box {
  width: 45%;
  border-radius: 5px;
  border: 1px solid #88c0e8;
}
.Flex-vertical {
  display: flex;
  flex-direction: column;
}
.Flex-horizontal {
  display: flex;
  flex-direction: row;
}
.Itinerary-card {
  background: rgba(255, 255, 255, 0.6);
  height: 70px;
  width: 100%;
  margin-bottom: 3px;
}
.Flex-space-around {
  justify-content: space-around;
}
.Itin-category-styling {
  font-size: 15px;
}
.Itin-value-styling {
  font-size: 20px;
}
.Activity-list {
  height: 200px;
  width: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Activity-container {
  background: pink;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #88c0e8;
  padding: 5px;
}
.Activity {
  position: relative;
  height: 250px;
}
.Category-spacing {
  margin: 0 5px;
  padding: 5px;
}
.Activity-squares {
  text-align: center;
}
.Activity-box {
  display: grid;
  grid-template-columns: 12% 25% 25% 25% 13%;
  border: 1px solid white;
}
textarea {
  resize: none;
}
.New-activity {
  text-align: center;
  width: 500px;
}
.New-activity-input {
  width: 70%;
  border-radius: 5px;
  border: 1px solid grey;
}
.New-activity-submit {
  margin-top: 10px;
  background: green;
  width: 50%;
  height: 30px;
  color: white;
  margin-left: 25%;
}
.Activity-holder {
  overflow: scroll;
  height: 200px;
}
.Sub-sub-headings {
  text-align: left;
}
.Your-itinerary-card {
  height: 200px;
  width: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Your-itin {
  position: relative;
  height: 250px;
}
.Your-itinerary-card-box {
  background: pink;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #88c0e8;
  padding: 5px;
}
.Your-itin-top {
  flex: 5;
}
.Your-itin-inner {
  margin: 0 30px;
}
.Your-itin-outter {
  flex: 2;
}
.Your-itin-heading {
  text-align: left;
  color: white;
}
/**/

.navWhole {
  background-color: green;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profileIMG {
  background-color: yellow;
  height: 80px;
  width: 80px;
  flex-grow: 1;
}

.signout {
  background-color: orange;
  height: 80px;
  width: 120px;
  flex-grow: 1;
}

.emptyMenuItem {
  height: 80px;
  flex-grow: 8;
}

.dropWhole {
  background-color: pink;
  /*flex-grow: 2;*/
}

.itineraryDrop {
  background-color: orange;
  border: 1px solid white;
  width: 130px;
}
.menuDropItem {
  font-size: 12px;
  width: 130px;
  height: 20px;
  background-color: red;
  border-bottom: 1px solid white;
}

.App {
  text-align: center;
}

.landingContainer {
  display: flex;
}

.login {
  flex-grow: 1;
  margin: 200px;
}

.landingTitle {
  text-align: right;
  flex-grow: 4;
  margin: 200px;
  /*padding-right: 200px;*/
}

.signupTitle {
}

.signupForm {
}

/*.profilePic{
  height: 80px;
  width: 80px;
  background-color: red;
  align-content: center;
  margin-left: 45%;
  margin-top: 20px;
}*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
