/* Additional CSS */
/* Just to break it down and make it a little more readable - godspeed, good reader. */

.Itin-container {
  display: flex;
  /*background: pink;*/
  margin-bottom: 20px;
  /* border-radius: 20px;*/

  /* border: 1px solid #88c0e8;*/
  /* padding: 5px;*/
}

.Itinerary-box {
  /*width: 45%;*/
  border-radius: 20px;
  /*border: 1px solid #88c0e8;*/
}

.Itinerary-card {
  align-content: center;
  background: rgba(255, 255, 255, 0.6);
  height: 90px;
  width: 100%;
  border-bottom: 2px solid white;
}

.Centered-True {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Overflow {
  overflow: scroll;
  margin-top: 60px;
  height: 300px;
}

.Flex-vertical {
  /*display: flex;*/
  flex-direction: column;
}
.Flex-horizontal {
  display: flex;
  padding-top: 13px;
  flex-direction: row;
}

.createNewItinButt {
  color: white;
  margin: 25px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 30px;
  font-size: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: green;
}

.profileIMG {
  background: url(Images/user-profile-pics_4.png);
  background-repeat: no-repeat;
  background-size: 80px 80px;
}

.LoginContain {
  background-color: yellow;
}

.LoginForm {
  z-index: 20;
  margin-top: -50px;
}

.Logo {
  position: absolute;
  margin-left: 880px;
  z-index: 5;
}

.Name {
  margin-left: 340px;
  position: absolute;
}

.Cloud1 {
  position: absolute;
  margin-top: 100px;
  z-index: 3;
  animation: FlybyA;
  animation-iteration-count: infinite;
  animation-duration: 165s;
  animation-delay: 0s;
}

.Cloud2 {
  position: absolute;
  z-index: 4;
  animation: FlybyB;
  animation-iteration-count: infinite;
  animation-duration: 135s;
  animation-delay: 0s;
}

.Cloud3 {
  position: absolute;
  z-index: 2;
  animation: FlybyC;
  animation-iteration-count: infinite;
  animation-duration: 215s;
  animation-delay: 0s;
}

@keyframes FlybyA {
  0% {
    margin-left: -70px;
  }

  100% {
    margin-left: 1900px;
  }
}

@keyframes FlybyB {
  0% {
    margin-left: 950px;
  }

  100% {
    margin-left: -200px;
  }
}

@keyframes FlybyC {
  0% {
    margin-left: 800px;
  }

  100% {
    margin-left: -200px;
  }
}

.Reg-form {
  z-index: 20;
}

.signupform {
   {
    margin-left: 300px !important;
  }
}
/*////////////*/
/*Background iamge stuff*/
